body {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* header */
.top-img {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    background-position: center;
}
h1 {
    font-size: 48px;
}
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-img div {
    width: 50%;
    text-align: center;
    margin-top: 16%;
    margin-bottom: 16%;
}
.button_style {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 5px;
    margin-top: 5%;
    display: inline-block;
}
